body {
    background-color: #381F36 ;
    color: #88c9c2;
    margin: 0px;


}
a:hover {
    color:#00829E;

}
header{
    background-color: #381F36;
    color:#c1f5ff;
    height: 5%;
    padding-bottom: 0px;
}
h1 {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}
h3 {
    text-align: center;
    margin-top: 0px;
    /* border: 1px solid; */
}
nav {
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
    display: inline-block;


}
header nav{
    width: 70% ;
    /* border: 1px solid; */
}
header nav ul li {
    background-color:#825E7F;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #381F36;
    width: 10em;
    height: 100%;
    display: inline-block;
    margin-left: 0px;

}
header nav ul li :active {
    border-bottom: 1px solid #825E7F;

}
nav ul {
    width: 100% ;
    padding-inline-start: 0px;
    margin-bottom: 0px;
    height: 1.5em;
    /* border: 1px solid; */

}
nav a {
    list-style: none;
    color: #88c9c2;
}
main{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #825E7F;
    margin-top: 0px;
}
article{
    text-align: center;
}
section {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: #381F36 ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;


}
section p {
    width: 275px;
}
img{
    padding: 20px 20px 20px 20px;
    background-color: #669792 ;
    width: 200px;
    height:300px;

}
.order {
    background-color:#EBA86E;
    
}
footer nav ul li {
    width: 10em;
    display: inline-block;
    /* margin-left: 10%; */

}

footer nav{
    margin: 0px 0px 0px 0px;
    background-color: #381F36;
    color:#c1f5ff;

}
footer {
    width: 100%;
    color: rgb(0,130,158);
}
hr {
    color: rgb(0,130,158);
 
}
