body{
    margin: 0px;
    text-align: center;
    font-family: 'Cinzel', serif;
}
.navigate{
    height: 50px;
    margin: 0px;
    /* border: 1px solid; */
}
header{
    /* height: fit-content; */
    background-image: url(https://assets.bonappetit.com/photos/5e3da6f92ea8b70008d6216d/3:2/w_1280,c_limit/BBaking_ChocolateChip_Article%2016x9.jpg);
    background-size: cover;
    box-shadow: 5px 0px 5px black;
}
#home {
    padding-top: 20%;
    color: white;
    text-shadow: 5px 5px 6px black;
    /* opacity: 60%; */

}
header nav {
    position: fixed;
    border: 1px solid;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: black;

}
header h1 {
    display: inline-block;
}
ul{
    padding-inline-start: 0px;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 0;
    margin-block-start: 0px;
    margin-block-end:0px ;
    display: block;

    
    /* display:table; */


}
header li{
    height: 100%;
}
li{
    padding-right: 2%;
    padding-left: 2%;
    display: inline-block;
    margin-right: 0%;
    margin-left: 0%;
}
header li:hover{
    background-color: grey;


}
a{
    display: inline-block;
    color: black;
    text-decoration: none;
}
li a{
    margin-top: 15px;
    color: white;
}

ul{
    display: block;

}
.list{
    display: block;


}
.list-container{
    padding: 0px 3px;
    display: none;
    background: grey;
    position: relative;

}
#order-list:hover .list-container{
    display: block;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

section {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;
    border: 0.5px solid #5e6166;
    width: fit-content;
    


}

section>p{
    width:320px;
    padding:0;
}
#about{
    /* background: linear-gradient(white, grey) ; */
    height:100%;
    padding: 5% 10% 5% 10% ;
}
#order {
    display: inline-block;
    padding: 5% 10% 5% 10% ;
    background-color: rgb(240, 238, 235);

}

#script-div{
    display: inline-block;
    height: 100% ;
    width:100%;
    text-align: center;
    padding: 5% 0%;
    background-color: rgb(240, 238, 235);


}
.order {
    background-color: black;
    color:white;
    display: inline-block;
    width: 100% ;  
    height: 25px;  
    box-shadow: 0px -2px 10px grey;

}

img{
    
    padding: 20px 20px 20px 20px;
    background-color: rgb(56, 56, 56) ;
    width: 200px;
    height:300px;
    box-shadow: 0px -2px 10px #1b161b  ;

}

footer{
    background-color: black;
    color: white;
}
footer a:hover{
    color: yellow;
}

article{
    margin: 0px;
}