body{
    margin: 0px;
    text-align: center;
}
.navigate{
    height: 50px;
    border: 1px solid;
}
header nav {
    position: fixed;
    float: right;
    border: 1px solid;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: black;

}
header h1 {
    display: inline-block;
}
ul{
    padding-inline-start: 0px;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    
    /* display:table; */


}
header li{
    height: 100%;
}
li{
    padding-right: 2%;
    padding-left: 2%;
    display: inline-block;
    vertical-align: middle;
    /* margin-right: 2%;
    margin-left: 2%; */
}
